name: CI/CD

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:  # Allow manual trigger from GitHub UI

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') || !contains(github.event.head_commit.message, 'Bump version')
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.2'
        host: 'linux'
        target: 'desktop'
        arch: 'gcc_64'
        cache: 'true'
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential libgl1-mesa-dev
    
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..
    
    - name: Build
      run: |
        cd build
        make
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: scrcpy-gui-linux
        path: build/scrcpy-gui

  build-windows:
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags/') || !contains(github.event.head_commit.message, 'Bump version')
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.3'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'
        cache: 'true'
    
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..
    
    - name: Build
      run: |
        cd build
        cmake --build . --config Release
        
    - name: Deploy
      run: |
        windeployqt build/Release/scrcpy-gui.exe --dir build/Release/ --release --no-translations --no-system-d3d-compiler --no-opengl-sw --no-compiler-runtime --no-quick-import
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: scrcpy-gui-windows
        path: build/Release/

  build-macos:
    runs-on: macos-latest
    if: startsWith(github.ref, 'refs/tags/') || !contains(github.event.head_commit.message, 'Bump version')
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.3'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        cache: 'true'
    
    - name: Install dependencies
      run: |
        brew install cmake
    
    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake ..
    
    - name: Build
      run: |
        cd build
        make
        
    - name: Deploy
      run: |
        macdeployqt build/scrcpy-gui.app -dmg
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: scrcpy-gui-macos
        path: build/scrcpy-gui.dmg


  release:
    needs: [build-linux, build-windows, build-macos]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    
    steps:
    - uses: actions/download-artifact@v6.0.0
      with:
        path: artifacts

    - name: Zip Windows Artifact
      run: |
        cd artifacts/scrcpy-gui-windows
        zip -r ../../scrcpy-gui-windows.zip .
        cd ../..

    - name: Create Release
      uses: softprops/action-gh-release@v2.4.2
      with:
        files: |
          artifacts/scrcpy-gui-linux/scrcpy-gui
          scrcpy-gui-windows.zip
          artifacts/scrcpy-gui-macos/scrcpy-gui.dmg
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

